@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KOTRA_BOLD";
  src: url("./assets/fonts/KOTRA_BOLD.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("./assets/fonts/GmarketSansTTFBold.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("./assets/fonts/GmarketSansTTFMedium.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("./assets/fonts/GmarketSansTTFLight.ttf") format("truetype");
}

@font-face {
  font-family: "ExcelsiorSans";
  src: url("./assets/fonts/ExcelsiorSans.ttf") format("truetype");
}

@font-face {
  font-family: "BebasKai";
  src: url("./assets/fonts/BebasKai.ttf") format("truetype");
}

@font-face {
  font-family: "SCDream5";
  src: url("./assets/fonts/SCDream5.otf");
}

.range-slider {
  @apply w-full m-0 mx-auto;
}

#mySlider .range-slider__thumb {
  @apply w-4 h-4 bg-white rounded-full shadow;
  @apply lg:w-6 lg:h-6;
  @apply appearance-none cursor-pointer;
  @apply outline-none border-none;
}

#mySlider .range-slider__range {
  @apply h-2;
}
